<footer class="footer">
    <div class="logo">
        <h2 id="heading-contact">Designed and Managed By:</h2>
        <img id="webtron-img" src="images/webTRON.png" alt="webTRON">
    </div>
    <div class="line"></div>
    <div class="contact">
        <p>Contact us for: </p>
        <ul>
            <li class="features"><i class="fa fa-hand-o-right"></i> E-Commerce website with mobile App</li>
            <li class="features"><i class="fa fa-hand-o-right"></i> Search Engine Optimization</li>
            <li class="features"><i class="fa fa-hand-o-right"></i> Digital Marketing</li>
            <li class="features"><i class="fa fa-hand-o-right"></i> Full-Time Technical support and Advice by Experts</li>
        </ul>
    </div>
    <div class="line"></div>
    <div class="newsletter">
        <fieldset class="visitorEmail <%if(flashMessages[0]){%>border-red<%}%>">
            <legend>Subscribe to our News Letter</legend>
            <form action="/subscribe" method="POST">
                <input type="email" id="subscriptionEmail" name="subscriptionEmail" required>
                <button type="submit"><img src="images/email-icon.png" alt="email-icon" id="email-icon"></button>
            </form>
        </fieldset>
        <%if(flashMessages){%> <%#flashMessages.forEach(msg){%> <small><%= flashMessages[0]%> </small> <%}%>

        <!-- <br><br> -->
        <!-- <div id="chat">
        <h2>Chat With Us:</h2>
        <img src="./img/dashicons-format-chat.png" alt="">
    </div> -->

        <div class="contact-details">
            <p><a href="mailto:webtron2021@gmail.com">Email:webtron2021@gmail.com</a></p>
            <p>Contact Numbers:</p>
            <ul>
                <li><a href="tel:+9779842473580"><i class="fas fa-phone"></i> +977-9842473580</a></li>
                <li><a href="tel:+9779849667274"><i class="fas fa-phone"></i> +977-9849667274</a></li>
                <li><a href="tel:+9779812951925"><i class="fas fa-phone"></i> +977-9812951925</a></li>
            </ul>
        </div>
    </div>
</footer>