* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Comfortaa', cursive;
}

body {
  overflow-x: hidden;
}

.title {
  width: 100%;
  min-height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #C50000;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.title h1 {
  font-size: 3.5rem;
  margin: 1rem;
}

main {
  margin-top: 4rem;
  min-height: 60rem;
}

main .form-1 {
  width: 100%;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .form-1 button {
  margin-left: 5rem;
  background: none;
  border: none;
  width: 15rem;
  height: 5rem;
  padding: 1rem;
  background: #133b69;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  color: #e4e4e4;
  cursor: pointer;
}

main .form-1 .form-element {
  padding: .5rem;
  margin-left: 5rem;
  width: 90%;
  min-height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

main .form-1 .form-element h2 {
  font-size: 1.5rem;
}

main .form-1 .form-element small {
  color: #0362D1;
  font-size: 1.3rem;
  cursor: pointer;
}

main .form-1 .form-element fieldset {
  width: 80%;
  margin: 1rem 0rem 1rem 0rem;
  min-height: 8rem;
  border: 2px solid black;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

main .form-1 .form-element fieldset legend {
  font-size: 1.3rem;
  padding: 5px;
}

main .form-1 .form-element fieldset input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  font-size: 2rem;
  padding: 2px;
  margin: 0.8rem 1rem 0 1rem;
}

main .form-1 .form-element fieldset input:active {
  border: none;
  background-color: none;
  outline: none;
}

main .form-1 .form-element fieldset input:focus {
  border: none;
  outline: none;
}

main .form-1 .form-element fieldset select {
  width: 99%;
  height: 100%;
  background: none;
  border: none;
  font-size: 2rem;
  padding: 2px;
}

main .section-2 {
  height: 45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .form-2 {
  margin-top: 3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .form-2 button {
  margin-left: 5rem;
  background: none;
  border: none;
  width: 15rem;
  height: 5rem;
  padding: 1rem;
  background: #133b69;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  color: #e4e4e4;
  cursor: pointer;
}

main .form-2 .form-element {
  padding: .5rem;
  margin-left: 5rem;
  width: 90%;
  min-height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

main .form-2 .form-element h2 {
  font-size: 1.5rem;
}

main .form-2 .form-element small {
  color: #0362D1;
  font-size: 1.3rem;
  cursor: pointer;
}

main .form-2 .form-element fieldset {
  width: 80%;
  margin: 1rem 0rem 1rem 0rem;
  height: 8rem;
  border: 2px solid black;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

main .form-2 .form-element fieldset img {
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
}

main .form-2 .form-element fieldset legend {
  font-size: 1.3rem;
  padding: 5px;
}

main .form-2 .form-element fieldset input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  font-size: 2rem;
  padding: 2px;
  margin-left: 1rem;
  margin-right: 1rem;
}

main .form-2 .form-element fieldset input:active {
  border: none;
  background-color: none;
  outline: none;
}

main .form-2 .form-element fieldset input:focus {
  border: none;
  outline: none;
}

main .form-2 .form-element fieldset select {
  width: 99%;
  height: 100%;
  background: none;
  border: none;
  font-size: 2rem;
  padding: 2px;
}

main .form-2 .form-element fieldset select:active {
  border: none;
  background-color: none;
  outline: none;
}

main .form-2 .form-element fieldset select:focus {
  border: none;
  outline: none;
}

main .form-2 .form-element fieldset select:hover {
  border: none;
  outline: none;
}

.footer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #121212;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  color: #ececec;
}

.footer .line {
  width: 2px;
  height: 22rem;
  background-color: #e4e4e4;
  border-radius: 50%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 2rem;
}

.footer .logo h2 {
  font-size: 2rem;
}

.footer .logo img {
  width: 23rem;
  height: 11rem;
}

.footer .contact {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 15rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 2rem;
}

.footer .contact p {
  font-size: 2.5rem;
}

.footer .contact ul {
  list-style: disc;
  font-size: 1.5rem;
}

.footer .newsletter {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 20rem;
}

.footer .newsletter fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7rem;
  width: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.footer .newsletter fieldset legend {
  font-size: 1.3rem;
  padding: 5px;
}

.footer .newsletter fieldset form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .newsletter fieldset form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  background: none;
  outline: none;
  border: none;
  color: white;
  font-size: 2rem;
  margin: 0rem .5rem 0rem 1rem;
}

.footer .newsletter fieldset form input:active {
  border: none;
  background-color: none;
  outline: none;
}

.footer .newsletter fieldset form input:focus {
  border: none;
  outline: none;
}

.footer .newsletter fieldset form input:hover {
  border: none;
  background-color: none;
  outline: none;
}

.footer .newsletter fieldset form button {
  border: none;
  padding: 1rem;
  background: none;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  color: #e4e4e4;
  cursor: pointer;
}

.footer .newsletter fieldset form button img {
  width: 4rem;
  height: 4rem;
}

.footer .newsletter fieldset form button:active {
  border: none;
  background-color: none;
  outline: none;
}

.footer .newsletter fieldset form button:focus {
  border: none;
  outline: none;
}

.footer .newsletter fieldset form button:hover {
  border: none;
  outline: none;
}

.footer .newsletter .contact-details {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .newsletter .contact-details p {
  margin: .5rem 0rem .5rem 0rem;
  font-size: 1.5rem;
}

.footer .newsletter .contact-details p a {
  text-decoration: none;
  color: white;
}

.footer .newsletter .contact-details ul {
  -webkit-transform: translateX(1.5rem);
          transform: translateX(1.5rem);
  font-size: 1.5rem;
}

.footer .newsletter .contact-details ul li a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1080px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .line {
    height: 2px;
    background-color: #e4e4e4;
    border-radius: 50%;
    margin: 3rem 0rem 3rem 0rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-width: 40rem;
  }
  .footer .logo {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-width: 40rem;
  }
  .footer .contact {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-width: 40rem;
  }
  .footer .newsletter {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-width: 40rem;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .title h1 {
    font-size: 2rem;
    margin: 1rem;
    font-weight: bold;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .line {
    height: 2px;
    background-color: #e4e4e4;
    border-radius: 50%;
    margin: 3rem 0rem 3rem 0rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-width: 25rem;
  }
  .footer .logo {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-width: 25rem;
  }
  .footer .contact {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-width: 20rem;
  }
  .footer .newsletter {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-width: 20rem;
  }
  main .form-1 .form-element h2,
  main .form-2 .form-element h2 {
    font-size: 1.5rem;
  }
}

.collapse {
  position: relative;
  margin-top: 1rem;
  width: 50rem;
  border: 1px solid gray;
  -webkit-box-shadow: 1px 1px 1px #a3a3a3;
          box-shadow: 1px 1px 1px #a3a3a3;
  padding: .5rem;
  border-radius: 1rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  z-index: 10;
}

.collapse .card {
  font-size: 1rem;
  line-height: 1.7rem;
}

.collapse .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.collapse .links a {
  margin-right: 2rem;
  border-radius: 50%;
}

.collapse .links a img {
  height: 2.5rem;
  width: 2.5rem;
}

.collapse .links small {
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}

.collapse .links small img {
  height: 1.5rem;
  width: 1.5rem;
}

.hide-collapse {
  -webkit-transform: translate(0%, -15%);
          transform: translate(0%, -15%);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media screen and (max-width: 902px) {
  .collapse {
    width: 30rem;
  }
}

.message {
  position: fixed;
  right: 2%;
  bottom: 1%;
  width: 25rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #133b69;
  padding: 1rem;
  border-radius: 1rem;
  pointer-events: all;
  opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  color: white;
}

.message i {
  margin: 0rem 1rem 0rem 1rem;
  color: #f02424;
}

.hide-message {
  opacity: 0;
  right: -10%;
  bottom: 1%;
  pointer-events: none;
}

.border-red {
  border: 1px solid #a01515;
}

small {
  font-size: 1rem;
  color: #a01515;
}

.git-link a {
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 100;
}

.git-link a i {
  color: #133b69;
  -webkit-box-shadow: 0px 2px 2px 2px #0c0c0c;
          box-shadow: 0px 2px 2px 2px #0c0c0c;
  border-radius: 50%;
}

.git-link a i:hover {
  -webkit-box-shadow: 0px 1px 1px 1px #0c0c0c;
          box-shadow: 0px 1px 1px 1px #0c0c0c;
}

.server-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45rem;
  background-color: #121212;
  color: red;
}

.server-error img {
  margin: 1rem;
  height: 20rem;
  width: 40rem;
}

.page-not-found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45rem;
  background-color: #121212;
  color: red;
}

.page-not-found img {
  margin: 1rem;
  height: 20rem;
  width: 40rem;
}
/*# sourceMappingURL=index.css.map */