* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Comfortaa', cursive;
}

body {
    overflow-x: hidden;
}

.title {
    width: 100%;
    min-height: 15rem;
    // border:1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C50000;
    transition: all 1s ease;
    h1 {
        font-size: 3.5rem;
        margin: 1rem;
    }
}

main {
    min-height: 60rem;
    .form-1 {
        // border:2px solid green;
        width: 100%;
        height: 60rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        button {
            margin-left: 5rem;
            background: none;
            border: none;
            width: 15rem;
            height: 5rem;
            padding: 1rem;
            background: #133b69;
            border-radius: 1.5rem;
            font-size: 1.5rem;
            color: rgb(228, 228, 228);
            cursor: pointer;
        }
        .form-element {
            padding: .5rem;
            margin-left: 5rem;
            width: 90%;
            min-height: 10rem;
            // border:1px solid yellow;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            transition: all 1s ease;
            h2 {
                font-size: 1.5rem
            }
            small {
                color: #0362D1;
                font-size: 1.3rem;
                cursor: pointer;
            }
            fieldset {
                width: 80%;
                margin: 1rem 0rem 1rem 0rem;
                height: 8rem;
                border: 2px solid black;
                padding-left: 1rem;
                padding-right: 1rem;
                border-radius: 5px;
                transition: all 1s ease;
                legend {
                    font-size: 1.3rem;
                    padding: 5px;
                }
                input {
                    width: 100%;
                    height: 100%;
                    background: none;
                    border: none;
                    font-size: 2rem;
                    padding: 2px;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    &:active {
                        border: none;
                        background-color: none;
                        outline: none;
                    }
                    &:focus {
                        border: none;
                        outline: none;
                    }
                }
                select {
                    width: 99%;
                    height: 100%;
                    background: none;
                    border: none;
                    font-size: 2rem;
                    padding: 2px;
                }
            }
        }
    }
    .section-2 {
        height: 45rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .form-2 {
        margin-top: 3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        button {
            margin-left: 5rem;
            background: none;
            border: none;
            width: 15rem;
            height: 5rem;
            padding: 1rem;
            background: #133b69;
            border-radius: 1.5rem;
            font-size: 1.5rem;
            color: rgb(228, 228, 228);
            cursor: pointer;
        }
        .form-element {
            padding: .5rem;
            margin-left: 5rem;
            width: 90%;
            min-height: 10rem;
            // border:1px solid yellow;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            transition: all 1s ease;
            h2 {
                font-size: 1.5rem
            }
            small {
                color: #0362D1;
                font-size: 1.3rem;
                cursor: pointer;
            }
            fieldset {
                width: 80%;
                margin: 1rem 0rem 1rem 0rem;
                height: 8rem;
                border: 2px solid black;
                padding-left: 1rem;
                padding-right: 1rem;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 1s ease;
                img {
                    width: 6.5rem;
                    height: 6.5rem;
                    cursor: pointer;
                }
                legend {
                    font-size: 1.3rem;
                    padding: 5px;
                }
                input {
                    flex: 1;
                    width: 100%;
                    height: 100%;
                    background: none;
                    border: none;
                    font-size: 2rem;
                    padding: 2px;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    &:active {
                        border: none;
                        background-color: none;
                        outline: none;
                    }
                    &:focus {
                        border: none;
                        outline: none;
                    }
                }
                select {
                    width: 99%;
                    height: 100%;
                    background: none;
                    border: none;
                    font-size: 2rem;
                    padding: 2px;
                    &:active {
                        border: none;
                        background-color: none;
                        outline: none;
                    }
                    &:focus {
                        border: none;
                        outline: none;
                    }
                    &:hover {
                        border: none;
                        outline: none;
                    }
                }
            }
        }
    }
}

.footer {
    height: fit-content;
    width: 100%;
    display: flex;
    background: #121212;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    color: rgb(236, 236, 236);
    .line {
        width: 2px;
        height: 22rem;
        background-color: rgb(228, 228, 228);
        border-radius: 50%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .logo {
        flex: 1;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        margin: 2rem;
        h2 {
            font-size: 2rem;
        }
        img {
            width: 23rem;
            height: 11rem;
        }
    }
    .contact {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 15rem;
        justify-content: space-around;
        align-items: flex-start;
        // border:1px solid red;
        margin: 2rem;
        p {
            font-size: 2.5rem;
        }
        ul {
            list-style: disc;
            transform: translateX(1.5rem);
            font-size: 1.5rem;
        }
    }
    .newsletter {
        flex: 1;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        height: 20rem;
        fieldset {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 7rem;
            width: 100%;
            transition: all 1s ease;
            legend {
                padding: 5px;
            }
            form {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                input {
                    flex: 1;
                    height: 100%;
                    background: none;
                    outline: none;
                    border: none;
                    color: white;
                    font-size: 2rem;
                    fill: black;
                    margin: 0rem .5rem 0rem 1rem;
                    &:active {
                        border: none;
                        background-color: none;
                        outline: none;
                    }
                    &:focus {
                        border: none;
                        outline: none;
                    }
                }
                button {
                    border: none;
                    // width: 15rem;
                    // height: 3rem;
                    padding: 1rem;
                    background: none;
                    border-radius: 1.5rem;
                    font-size: 1.5rem;
                    color: rgb(228, 228, 228);
                    cursor: pointer;
                    img {
                        width: 4rem;
                        height: 4rem;
                    }
                    &:active {
                        border: none;
                        background-color: none;
                        outline: none;
                    }
                    &:focus {
                        border: none;
                        outline: none;
                    }
                    &:hover {
                        border: none;
                        outline: none;
                    }
                }
            }
        }
        .contact-details {
            margin-top: 1rem;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-direction: column;
            p {
                margin: .5rem 0rem .5rem 0rem;
                font-size: 1.5rem;
            }
            ul {
                transform: translateX(1.5rem);
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (max-width:1080px) {
    .footer {
        display: flex;
        flex-direction: column;
        .line {
            height: 2px;
            // width: 22rem;
            background-color: rgb(228, 228, 228);
            border-radius: 50%;
            margin: 3rem 0rem 3rem 0rem;
            align-items: flex-start;
            // border:1px solid red;
            min-width: 40rem;
        }
        .logo {
            align-items: flex-start;
            // border:1px solid red;
            min-width: 40rem;
        }
        .contact {
            align-items: flex-start;
            // border:1px solid red;
            min-width: 40rem;
        }
        .newsletter {
            align-items: flex-start;
            // border:1px solid red;
            min-width: 40rem;
        }
    }
}

@media screen and (max-width:500px) {
    html {
        font-size: 50%
    }
    .title {
        h1 {
            font-size: 2rem;
            margin: 1rem;
            font-weight: bold;
        }
    }
    .footer {
        display: flex;
        flex-direction: column;
        .line {
            height: 2px;
            // width: 22rem;
            background-color: rgb(228, 228, 228);
            border-radius: 50%;
            margin: 3rem 0rem 3rem 0rem;
            align-items: flex-start;
            // border:1px solid red;
            min-width: 25rem;
        }
        .logo {
            align-items: flex-start;
            // border:1px solid red;
            min-width: 25rem;
        }
        .contact {
            align-items: flex-start;
            // border:1px solid red;
            min-width: 20rem;
        }
        .newsletter {
            align-items: flex-start;
            // border:1px solid red;
            min-width: 20rem;
        }
    }
    main {
        .form-1,
        .form-2 {
            .form-element {
                h2 {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.collapse {
    position: relative;
    margin-top: 1rem;
    width: 50rem;
    border: 1px solid gray;
    box-shadow: 1px 1px 1px rgb(163, 163, 163);
    padding: .5rem;
    border-radius: 1rem;
    transition: all .5s ease;
    opacity: 1;
    pointer-events: all;
    transform: translate(0%, 0%);
    display: flex;
    flex-direction: column;
    .card {
        font-size: 1rem;
        line-height: 1.7rem;
    }
    .links {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // border: 1px solid red;
        a {
            // box-shadow: 1px 1px 1px gray;
            margin-right: 2rem;
            border-radius: 50%;
            img {
                height: 2.5rem;
                width: 2.5rem;
            }
        }
        small {
            margin-left: 1rem;
            margin-right: 1rem;
            text-decoration: none;
            img {
                height: 1.5rem;
                width: 1.5rem;
            }
        }
    }
}

.hide-collapse {
    transform: translate(0%, -15%);
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}

@media screen and (max-width:902px) {
    .collapse {
        width: 30rem;
    }
}