<%- include("../includes/head")%>
    <!-- <link rel="stylesheet" media="screen and (max-width:1325px)" href="./css/phone.css" /> -->
    <title>
        <%= pageTitle%>
    </title>
    </head>
 
    <body>
        <!-- Messenger Chat Plugin Code -->
        <div id="fb-root"></div>

        <!-- Your Chat Plugin code -->
        <div id="fb-customer-chat" class="fb-customerchat"></div>
       
<div class="page-not-found">
    <img src="images/404.png" alt="404.png">
    <h2>Oh,snap!</h2>
    <h3>Page Not Found.</h3>
</div>

                <!-- include footer -->
                <%- include("../includes/footer")%>
                <script src="js/collapse.js"></script>
    </body>
    </html>