<%- include("../includes/head")%>
    <!-- <link rel="stylesheet" media="screen and (max-width:1325px)" href="./css/phone.css" /> -->
    <title>
        <%= pageTitle%>
    </title>
    </head>
 
    <body>
        <!-- Messenger Chat Plugin Code -->
        <div id="fb-root"></div>

        <!-- Your Chat Plugin code -->
        <div id="fb-customer-chat" class="fb-customerchat"></div>
       
       
        <div class="server-error">
            <!-- <img src="images/500.png" alt="404.png"> -->
            <h2>Server Error!</h2>
            <h3>sorry for the inconvenience. We are working on it </h3>
        </div>

                <!-- include footer -->
                <%- include("../includes/footer")%>
                
                <script src="js/collapse.js"></script>
    </body>
    </html>