<%- include("includes/head")%>
    <!-- <link rel="stylesheet" media="screen and (max-width:1325px)" href="./css/phone.css" /> -->
    <title>Infix to Postfix</title>
    </head>

    <body>
        <!-- Messenger Chat Plugin Code -->
        <div id="fb-root"></div>

        <!-- Your Chat Plugin code -->
        <div id="fb-customer-chat" class="fb-customerchat"></div>


        <header class="title">
            <h1>INFIX TO POSTFIX CONVERTER</h1>
        </header>
        <main>
            <img src="images/500.svg" alt="">
        </main>
        <footer class="footer">
            <div class="logo">
                <h2 id="heading-contact">Designed and Managed By:</h2>
                <img id="webtron-img" src="images/webTRON.png" alt="webTRON">
            </div>
            <div class="line"></div>
            <div class="contact">
                <p>Contact us for: </p>
                <ul>
                    <li class="features">E-Commerce website with mobile App</li>
                    <li class="features">Search Engine Optamization</li>
                    <li class="features">Digital Marketing</li>
                    <li class="features">Full-Time Technical support and Advice by Experts</li>
                </ul>
            </div>
            <div class="line"></div>
            <div class="newsletter">
                <fieldset class="visitorEmail">
                    <legend>Subscribe to our News Letter</legend>
                    <form action="">
                        <input type="text" id="input-email">
                        <button type="submit"><img src="images/email-icon.png" alt="email-icon"
                                id="email-icon"></button>
                    </form>
                </fieldset>


                <div class="contact-details">
                    <p>Email:webtron2021@gmail.com</p>
                    <p>Phone:</p>
                    <ul>
                        <li>9842473580</li>
                        <li>9849667274</li>
                        <li>9812951925</li>
                    </ul>
                </div>
            </div>
        </footer>



    </body>

    </html>